* {
    font-family: "Open Sans", sans-serif;
	font-weight: 300;
	padding: 0px;
}

*::-moz-selection {
	color: #fff;
	background-color: #7F6A00;
}

*::-selection {
	color: #fff;
	background-color: #7F6A00;
}

*::-webkit-selection {
	color: #fff;
	background-color: #7F6A00;
}

a {
	text-decoration: none;
	color: #7F6A00;
}

a:hover {
	text-decoration: none;
	color: #32A800;
}

.header-links {
    display: inline-block;
    text-align: center;
}

.founder-1 {
    font-weight: 400;
	color: #7F6A00;
	float: left;
}

.founder-2 {
    font-weight: 400;
	color: #7F6A00;
	float: right;
}

.header-links a {
	color: #fff;
	text-decoration: none;
	padding-top: 15px;
	padding-left: 21px;
	padding-right: 21px;
	padding-bottom: 16px;
}

.header-links a:hover {
	  color: #32A800;
	  background-color: #fff;
}

#home a {
	color: #32A800;
	background-color: #fff;
}

#about a {
	color: #32A800;
	background-color: #fff;
}

#projects a {
	color: #32A800;
	background-color: #fff;
}

#news a {
	color: #32A800;
	background-color: #fff;
}

#forum a {
	color: #32A800;
	background-color: #fff;
}

.sub-header-links a {
	  color: #fff;
	  text-decoration: none;
	  padding: 21px;
}

.sub-header-links a:hover {
	  color: #32A800;
	  background-color: #fff;
}

.main-header { 
	background-color: #564800;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

.main-header ul {
	  margin-left: auto;
	  margin-right: auto;
	
}

.main-footer {
	background-color: #564800;
	position: absolute;
	left: 0px;
	width: 100%;
}

.links-social {
	display: inline-block;
}



.social-links {
	margin-right: auto;
	margin-left: auto;
	width: 159px;
	padding: 0px;
}



.copyright {
	margin-right: auto;
	margin-left: auto;
	width: 225px;;

}

.copyright-text {
	color: #fff;
}



.introduction {
	margin-top: 150px;
	font-size: 20px;
}

#welcome {
	font-size: 24px;
	font-weight: 400;
	margin-left: 10px;
}

#description {
	font-weight: 300;
	margin-left: 10px;
}

.coming-soon {
	font-size: 25px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	width: 181px;
	
}

.header-text {
	font-weight: 400;
	color: #fff;
}

.founder1-text {
	float: left;
	display: block;
	margin-top: 50px;
}

.no-news {
	margin-left: 350px;
	font-size: 25px;
}

.no-projects {
	margin-left: 450px;
}

.site-links {
	width: 502px;
	padding: 0px
}

.logo {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	padding-top: 10px;
}

.social-text {
	color: #fff;
	width: 99px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

#facebook-text {
	width: 151px;
}

#twitter-text {
	width: 148px;
}

#github-text {
	width: 145px;
}

.description {
	margin: 30px;
	font-size: 20px;
}

.social-captions {
	display: inline;
}

.sub-header-links {
	display: inline-block;
	text-align: center;
}

.projects-bar {
	margin-top: 122px;
	background-color: #7F6A00;
	width: 603px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.about-bar {
	margin-top: 145px;
	background-color: #7F6A00;
	width: 331px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.news-bar {
	margin-top: 145px;
	background-color: #7F6A00;
	width: 274px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#logo {
	width: 270px;
}

.title-kiwifruit {
	width: 130px;
	margin-left: auto;
	margin-right: auto;
}

.title-team {
	width: 80px;
	margin-left: auto;
	margin-right: auto;
}

.title-contact {
	width: 110px;
	margin-left: auto;
	margin-right: auto;
}

.team-member-title {
	margin-left: 70px;
}

.description-contact {
	font-size: 25px;
	margin-left: 30px;
}

.description-contact-means {
	margin-left: 70px;
	font-size: 20px;
}

.news-introduction {
	font-size: 12px;
	margin: 20px;
}



.latest-news {
	font-size: 24px;
	margin-left: 25px;
}

.news-content {
	margin-left: 70px;
}

.post-title {
	color: #564800;
	font-weight: 400;
	display: inline;
}

.post-info {
	color: gray;
	font-size: 20px;
	margin-top: 1px;
}

.post-content {
	font-size: 20px;
	margin-top: 10px;
	width: 1000px;
}

.post-type {
	color: gray;
}

.intro {
	width: 130px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	padding-top: 10px;
}

.intro-header {
	width: 979px;
	margin-left: auto;
	margin-right: auto;
}

.intro-desc {
	margin: 30px;
}

.intro-team {
	margin: 30px;
}

.intro-join {
	margin: 30px;
	padding: 5px;
}

.intro-team-members {
	margin: 30px;
	margin-left: 100px;
	list-style: none;
}

.twitter-timeline {
	display: inline;
	float: right;
}

.post-intro {
	margin-left: 40px;
}

.intro-latest {
	font-size: 25px;
	margin-left: 30px;
}

.a404-suggesstions {
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 624px;
	padding-top: 20px;
}






.a404-links {
	display: inline;
	padding: 10px;
}

.a404-text {
	font-size: 23px;
}

.coming-soon-links {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 59px;
}

.a404-explanation {
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
	width: 851px;
	padding-top: 20px;
}

.error-404 {
	font-size: 30px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	width: 129px;
}
